.cocktail {
  margin: 4vh;
  background-color: white;
  display: flex;

  h2 {
    text-align: left;
    padding: 2vh 2vw 0 2vw;
    color: #fd94c9;
  }

  h5 {
    text-align: left;
    color: darkgray;
    padding: 0 2vw 0 2vw;
    font-weight: 200;
    color: #416165;
  }

  h6 {
    color: #fd94c9;
  }

  img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 4vh;
  }

  .cocktailDetails {
    display: flex;
    margin: 2vh 2vw 0 2vw;
  }

  .details {
    width: 100%;
    margin: 0 4vw 0 2vw;
    text-align: left;
  }
}
