.randomButton {
  background-color: #fd94c9;
  border-color: #fd94c9;
}

.randomButton:hover {
  background-color: #416165;
  border-color: #416165;
}

.randomButton:focus {
  background-color: #416165;
  border-color: #416165;
}
